
.scroll__figure {
	position: -webkit-sticky;
	position: sticky;
	right: 100%;
	top: 3em;
	padding-left: 40em;
	bottom: auto;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	z-index: 100;
}

.scroll__text {
	width: 37%;
	padding-left: 5%;
	padding-top: 5%;
	top: -30em;
	position: relative;
}

.scroll__figure2 {
	position: -webkit-sticky;
	position: sticky;
	right: 100%;
	top: 5em;
	padding-left: 2%;
	bottom: auto;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	z-index: 100;
}

.scroll__text2 {
	padding-top: 5%;
	padding-left: 40em;
	top: -30em;
	position: relative;
}

.scroll__figure3 {
	position: -webkit-sticky;
	position: sticky;
	right: 100%;
	top: 1em;
	padding-left: 2%;
	bottom: auto;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	z-index: 100;
}

.scroll__text3 {
	padding-top: 5%;
	padding-left: 55em;
	padding-right: 5em;
	padding-bottom: 25%;
	top: -30em;
	position: relative;
}

.scroll__figure4 {
	position: -webkit-sticky;
	position: sticky;
	right: 100%;
	top: 10em;
	padding-left: 40em;
	bottom: auto;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	z-index: 100;
}

.scroll__text4 {
	width: 37%;
	padding-left: 5%;
	padding-top: 5%;
	top: -30em;
	position: relative;
}
