<!DOCTYPE html>
<meta charset="utf-8">
<div id="flights"></div>
<style>
    
    body {
      background-color:black;

    }

    .y_axis line{
      stroke: white;
    }

    .y_axis path{
      stroke: white;
    }

    .y_axis text{
      fill: white;
    }


    .x_axis line{
      stroke: white;
    }

    .x_axis path{
      stroke: white;
    }

    .x_axis text{
      fill: white;
    }

    .tooltip line{
      stroke: white;
    }

    .tooltip path{
      stroke: white;
    }

    .tooltip text{
      fill: white;
    }

  </style> 



<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://d3js.org/topojson.v1.min.js"></script>
<script src="911.js"></script>