<!DOCTYPE html>
<html>
<head>
  <title></title>
  <!-- Load d3.js -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="http://d3js.org/d3.v4.js"></script>
  <script type="text/javascript" src="profit_chart.js"></script>
  <style>
    
    body {
      background-color:black;

    }

    .myYaxis line{
      stroke: white;
    }

    .myYaxis path{
      stroke: white;
    }

    .myYaxis text{
      fill: white;
    }


    .myXaxis line{
      stroke: white;
    }

    .myXaxis path{
      stroke: white;
    }

    .myXaxis text{
      fill: white;
    }

  </style>
</head>

<body>
  <!-- Add 2 buttons -->
<button class="company_btn" name="company" id="AA">AA</button>
<button class="company_btn" name="company" id="UA">UA</button>

  </form>
<!-- Create a div where the graph will take place -->
<div id="my_dataviz"></div>


</body>
</html>